body{
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

a:focus{
    outline: none;
}

button:focus, button:active {
    outline: none;
}

.container{
    display: flex;
    justify-content: center;
}

.calculator{
    background-color: darkgray;
    padding: 18px;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 520px;
    border-radius: 10px;
    border: 2px solid black;
    margin-top: 40px;
}

.screen{
    border: 2px solid black;
    background-color: lightgray;
    border-radius: 4px;
    height: 100px;
    width: 330px;
    font-size: 20px;
    grid-column: 1 / -1;
    display: flex; 
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    word-wrap: break-word;
    word-break: break-all;
    padding: 8px;
}
.previous-operand {
    color: rgba(0,0,0,0.65);
    font-size: 15px;
}


.top-buttons{
    display: flex;
    align-items: row;
    gap: 10px;
    justify-content: center;
    padding-top: 10px;
}

.clear{
    background-color: #8fbc8f ;
    border: 2px solid black;
    padding: 15px;
    width: 170px;
    font-size: 18px;
    border-radius: 5px;
}

.clear:Active{
    background-color: #5D996D;
}

.delete{
    background-color: plum;
    border: 2px solid black;
    padding: 5px;
    width: 170px;
    font-size: 18px;
    border-radius: 5px;
}

.delete:active{
    background-color: #D07CC1;
}


.row1{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    gap: 10px;
    padding-left: 1px;
    padding-right: 1px;
}

.row2{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    gap: 10px;
    padding-left: 1px;
    padding-right: 1px;
}

.row3{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    gap: 10px;
    padding-left: 1px;
    padding-right: 1px;
}

.row4{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    gap: 10px;
    padding-left: 1px;
    padding-right: 1px;
}

.cbutton{
    height: 75px;
    width: 85px;
    font-size: 22px;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 5px;
}

.operator {
    height: 75px;
    width: 85px;
    font-size: 22px;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 5px;
}

.decimal{
    height: 75px;
    width: 85px;
    font-size: 22px;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 5px;
}

.equal{
    height: 75px;
    width: 85px;
    font-size: 22px;
    font-weight: 500;
    border: 2px solid black;
    border-radius: 5px;
}


.cbutton:active{
    background-color: darkgrey;
}

.operator:active{
    background-color: darkgrey;
}

.equal:active{
    background-color: darkgrey;
}

.decimal:active{
    background-color: darkgrey;
}

@media screen and (max-width: 767px) {
    .calculator{
        width: 250px;
        height: 400px;
    }
    
    .screen{
        width: 225px;
        height: 100px;
    }
    
    .top-buttons {
        height: 40px;
    }
    .clear {
        padding: 7px;
        font-size: 18px;
    }
    .delete{
        padding: 7px;
        font-size: 18px;
    }

    .cbutton{
        height: 55px;
    }

    .operator{
        height: 55px;
    }
    .decimal{
        height: 55px;
    }
    .equal{
        height: 55px;
    }
}